* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
  line-height: 1.6;
}

main {
  padding: 2em;
  background-color: #fafafa;
  flex: 1;
}

header {
  background-color: #f1f1f1;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border: 1px solid #ccc;
}

ul {
  list-style-type: disc;
  margin-left: 2em;
  margin-bottom: 1em;
}

.pictures-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.pictures-container img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1em;
  border-top: 2px solid #ccc;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: darkgray;
}

em {
  color: rgb(60, 59, 59);
}